@import "tailwindcss";
body {
  @apply m-0 flex items-center justify-center min-w-[320px] min-h-lvh;
}
.btn{
  @apply mt-4 px-4 py-2 rounded
}
.header-title{
  @apply text-xl text-center font-bold mb-5
}